@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var baseUrl = $"{Request.Scheme}://{Request.Host}";
    var apiUrl = baseUrl + Url.Content("~/elsa/api");
    var basePath = "";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Elsa Studio 3.0</title>
    <base href="/"/>

    <link rel="apple-touch-icon" sizes="57x57" href="@basePath/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="@basePath/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="@basePath/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="@basePath/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="@basePath/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="@basePath/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="@basePath/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="@basePath/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="@basePath/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="@basePath/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="@basePath/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="@basePath/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="@basePath/img/favicon-16x16.png">
    <link rel="manifest" href="@basePath/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@basePath/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap" rel="stylesheet">
    <link href="@basePath/_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link href="@basePath/_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet"/>
    <link href="@basePath/_content/Radzen.Blazor/css/material-base.css" rel="stylesheet">
    <link href="@basePath/_content/Elsa.Studio.Shell/css/shell.css" rel="stylesheet">
    <link href="ElsaStudio.styles.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <div class="loading-splash mud-container mud-container-maxwidth-false">
        <h5 class="mud-typography mud-typography-h5 mud-primary-text my-6">Loading...</h5>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<script src="@basePath/_content/BlazorMonaco/jsInterop.js"></script>
<script src="@basePath/_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
<script src="@basePath/_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
<script src="@basePath/_content/MudBlazor/MudBlazor.min.js"></script>
<script src="@basePath/_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>
<script src="@basePath/_content/Radzen.Blazor/Radzen.Blazor.js"></script>
<script>
    window.getClientConfig = function() { return {
        "apiUrl": "@apiUrl",
        "basePath": "@basePath"
     } };
</script>
<script src="_framework/blazor.webassembly.js"></script>
</body>

</html>